<div class="info-panel">
    <div class="info-panel__information" [@infoState]="showAnimation">
        <div *ngIf="dataService.isLoading | async" class="info-panel__spinner-container">
            <mat-spinner></mat-spinner>
        </div>
        <div class="info-panel__information-container" *ngIf="!(dataService.isLoading | async)">
            <p class="info-panel__temperature">{{currentForecast.main.temp | temperature}}</p>
            <div class="info-panel__city-and-date">
                <p class="info-panel__city">{{currentForecast.city | titlecase}}</p>
                <p class="info-panel__date"><span>{{currentForecast.currentDateTime}}</span></p>
            </div>
            <div class="info-panel__weather-description">
                <div class="info-panel__icon-container">
                    <img [src]="currentForecast.iconName" class="info-panel__weather-icon" *ngIf="currentForecast.iconName">
                </div>
                <p class="info-panel__description">{{currentForecast.weather[0].description | letterTransform}}</p>
            </div>
        </div>
    </div>

    <div class="info-panel__search-bar">
        <form class="info-panel__search-bar-form" (ngSubmit)="searchNewCity()" [formGroup]="form">
            <input 
                class="info-panel__input-search-bar" 
                [ngStyle]="{'background': serchBarColor}" 
                placeholder="Search for city forecast"
                formControlName="newCity"
                (focus)="removeError()">
            <button class="info-panel__button-search-bar" type="button" (click)="searchNewCity()"><mat-icon>search</mat-icon></button>
            <div class="info-panel__error-underline" [ngStyle]="{'width': this.showError.underlineWidth}"></div>
        </form>
        <p class="info-panel__error-message" *ngIf="this.showError.displayErrorMessage" [@errorState]>Please, enter a correct city name *</p>
    </div>
</div>
