.daily-page {
    z-index: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background: black;
    &__info-panel-container {
        width: 100%;
        position: absolute;
        bottom: 50%;
    }
    &__spinner-container {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    &__bottom-panel-tabs {
        height: 100%;
    }
    .hourly, .daily, .additional {
        height: 100%;
        padding: 0 5% 0 0;
    }
    .additional {
        flex-grow: 1;
    }
    .bottom-center-spinner {
        width: 100%;
    }
    &__hourly-forecast {
        height: 100%;
        width: 100%;
    }
}

@media all and (max-width: 700px) {
    .daily-page {
        &__info-panel-container {
            bottom: 40%;
        }
    }
}

@media all and (max-height: 670px) {
    .daily-page {
        &__info-panel-container {
            bottom: 48%;
        }
    }
}