<div class="main-page" [ngStyle]="{'background': 'black'}" *ngIf="dataService.isLoading | async">
    <div class="main-page__spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</div>

<div class="main-page" [ngStyle]="{'background-image': background}" *ngIf="!(dataService.isLoading | async)">
    <div class="main-page__info-panel-container">
        <app-info-panel></app-info-panel>
    </div>
    <app-bottom-panel>
        <app-panel-tabs class="main-page__bottom-panel-tabs" (tabClickEvent)="selectContent($event)"></app-panel-tabs>

        <div class="hourly" *ngIf="ngContentSelect === 'hourly'" [ngClass]="{'bottom-center-spinner': dataService.isLoadingBottomPanel | async}">
            <app-hourly-forecast class="main-page__hourly-forecast"></app-hourly-forecast>
        </div>

        <div class="daily" *ngIf="ngContentSelect === 'daily'" [ngClass]="{'bottom-center-spinner': dataService.isLoadingBottomPanel | async}">
            <app-daily-forecast></app-daily-forecast>
        </div>

        <div class="additional" *ngIf="ngContentSelect === 'additional'" [ngClass]="{'bottom-center-spinner': dataService.isLoadingBottomPanel | async}">
            <app-additional-info></app-additional-info>
        </div>
    </app-bottom-panel>
</div>